<p>
	<strong>Name:</strong>>
	<%= @review.name %>
</p>

<p>
	<strong>Type:</strong>>
	<%= @review.review_type %>
</p>

<p>
	<strong>Body:</strong>
	<%= @review.body %>
</p>



<%= link_to 'Back', reviews_path %>